__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

data/raw/*.csv
data/raw/*.csv.gz
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*.pth
!models/.gitkeep
